<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-view-header/px-view-header.html">
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/marked-element/marked-element.html">


<dom-module id="about-view">
  <template>
    <style>
      px-card {
        background: white;
        color: rgb(44, 64, 76);
        --px-card-header-color: black;
      }
      .Wrapper {
          overflow: hidden;
          /*width: 800px; /* just for demo */
          margin-left:auto;
          margin-right:auto;
      }
      .Text
      {
          float: left;
          width:500px;
          font-weight: bold;
      }
      .Pictures
      {
      	float: right;
      	width:200px;
      }
    </style>

    <px-card id="myCard" header-text="About this application">
    <h1>**WRITE UP FROM HACKATHON**</h1>
    <div class="Wrapper">
    <h2>Problem</h2>
    <span class="Text">
    <ul>
    	<li>Energy suppliers need to constantly balance energy supply and demand</li>
    	<li>Limited control over <em>renewables</emph> and <emph>demand</em></li>
    	<li>To meet high demand, currently need to burn more fossil fuels!</li>
    	<li>This results in high carbon intensity for energy production during peak periods</li>
    </ul>
    <h2>Proposition</h2>
    Can we shift demand to periods when carbon intensity is lower?
    <ul>
    	<li>Inform consumers when carbon intensity is high/low</li>
    	<li>Scheduling assistant for manual activities</li>
    	<li>Intelligent Devices</li>
    	<ul>
    		<li>Appliance glow red when carbon intensity is high</li>
    		<li>Automatic scheduling of tasks and charging cycles.</li>
    	</ul>
    	<li>Coordination</li>
    	<ul>
    		<li>Coordinate demand schedules across homes (especially EV charging)</li>
    		<li>Coordinate demand and supply</li>
    	</ul>
    </ul>
    <h2>Hackathon</h2>
    <h3>Data</h3>
    <ul>
    	<li>Current UK Energy supply by source / fuel (<a href="https://www.elexonportal.co.uk/">https://www.elexonportal.co.uk/</a>)</li>
    	<li>Carbon intensity per fuel type (<a href="http://www.cs.ox.ac.uk/people/alex.rogers/gridcarbon/gridcarbon.pdf">http://www.cs.ox.ac.uk/people/alex.rogers/gridcarbon/gridcarbon.pdf</a>)</li>
    	<li>Appliance energy consumption over time (<a href="http://www.doc.ic.ac.uk/~dk3810/data/">http://www.doc.ic.ac.uk/~dk3810/data/</a>)</li>
    </ul>
    <h3>Solution</h3>
    <ul>
    	<li>Timeseries for supply and demand data</li>
    	<li>Asset to store supply carbon intensity forecast model</li>
    	<li>Python Analytic to schedule tasks / charging cycles</li>
    	<ul>
    		<li>Iron</li>
    		<li>Vacuum cleaner</li>
    		<li>Washing Machine</li>
    		<li>Dishwasher</li>
    		<li>Breadmaker</li>
    	</ul>
    </ul>
    </span>
    <span class="Pictures">
    	<img src="../../images/chart.png" width="200"/></br></br>
    	<img src="../../images/kettle.jpg" width="200"/></br></br>
    	<img src="../../images/vacuum.jpg" width="200"/></br></br>
    </span>
    </div>
    <div class="Wrapper">
    <h2>Dishwasher cycle carbon</h2>
    <img src="../../images/dishwasher_carbon.png" width="800"/>
    <h2>UK Grid Carbon</h2>
    <img src="../../images/uk_carbon.png" width="800"/>
    <h2>Supply Source Breakdown</h2>
    <img src="../../images/supply.png" width="800"/>
    <h2>Appliance Scheduling Assistant</h2>
    <img src="../../images/demand_gui.png" width="800"/>
    </div>
    </px-card>

  </template>
  <script>
    Polymer({
      is: 'about-view',
      properties: {},
      ready: function() {
        console.log("dashboard ready");
      }
    });
  </script>
</dom-module>
