<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../df-timeseries-ajax-client/df-timeseries-ajax-client.html">
<link rel="import" href="../../bower_components/px-rangepicker/px-rangepicker.html">
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../../bower_components/px-vis-xy-chart/px-vis-xy-chart.html">

<link rel="import" href="../../bower_components/px-vis/px-vis-worker.js">;
<link rel="import" href="../../bower_components/pxd3/d3.min.js">;

<!--
import is done in ge-app since it is needed by both views
<link rel="import" href="../../bower_components/px-card/px-card.html">
-->

<dom-module id="old-scheduler-view">
    <template>
        <px-view-header title="Weekly Mean Carbon Intensity"></px-view-header>
        <df-timeseries-ajax-client id="tsTagClient" method="GET"
                                   service-endpoint="/api/predix-timeseries/v1/tags"
                                   raw-ts-data="{{rawTsTagData}}" auto></df-timeseries-ajax-client>
        <df-timeseries-ajax-client id="tsDataClient" start="10y-ago"
                                   service-endpoint="/api/predix-timeseries/v1/datapoints"
                                   tags="[[selectedTag]]"
                                   raw-ts-data="{{rawTsData}}"></df-timeseries-ajax-client>

        <px-card id="oldSchedulertsCard">
        <style is="custom-style">
            div.markdown-html > h2 {
              margin-top: 0;
            }
            </style>
             <div>
               <div>
                 <px-dropdown display-value="Breadmaker" selected-key="1"><px-dropdown-content extend-dropdown='true' extend-dropdown-by='25' max-cont-character-width='10' items='[{"key":"1","val":"Breadmaker"},{"key":"2","val":"Dishwasher"},{"key":"3","val":"Hoover"},{"key":"4","val":"Iron"},{"key":"5","val":"Washing Machine","disabled":true}]'></px-dropdown-content></px-dropdown>
                 <px-rangepicker show-buttons="true" block-past-dates="true" date-format="YYYY/MM/DD" time-format="HH:mm:ss" time-zone="UTC" show-time-zone="abbreviatedText" range='{"from":"2015-07-01T01:00:00.000Z","to":"2016-07-08T14:00:00.000Z"}'></px-rangepicker>

                <!--
                    <px-vis-timeseries
                        debounce-resize-timing="250"
                        progressive-rendering-points-per-frame="16000" progressive-rendering-min-frames="1"
                        chart-horizontal-alignment="center" chart-vertical-alignment="top"
                        margin='{"top":0,"bottom":60,"left":65,"right":35}'
                        show-tooltip
                        register-config='{"type": "horizontal", "truncationLength" : 20}'
                        selection-type="xAxis"
                        chart-data="{{chartData}}"
                        series-config="{{chartConfig}}"
                        chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}'
                        x-axis-config='{"title":"Time", "ticks": {"interval" : 3, "format": "%H:%M:%S"}}'
                        x-axis-type="timeLocal"
                        y-axis-config='{"title": "Data", "truncationLength" : 20}'
                        toolbar-config='{"config": {}}'
                        width="700"
                        height="450"
                        disable-navigator>
                    </px-vis-timeseries>
                    -->
                    <px-vis-xy-chart debounce-resize-timing="250" width="777.8194580078125" height="411.3333320617676" progressive-rendering-points-per-frame="16000" progressive-rendering-min-frames="1" chart-horizontal-alignment="center" chart-vertical-alignment="center" margin='{"top":30,"bottom":60,"left":75,"right":20}' tooltip-config='{"forceDateTimeDisplay":true}' register-config='{"type":"vertical","width":220,"forceDateTimeDisplay":true}' selection-type="xy" chart-data='[{"uri":"1","mean":273.7492650511,"std":79.3886502115},{"uri":"2","mean":275.3253544917,"std":79.8018089871},{"uri":"3","mean":272.6191991579,"std":79.6713644164},{"uri":"4","mean":269.5291583385,"std":79.9446608265},{"uri":"5","mean":270.7037822074,"std":80.2811428975},{"uri":"6","mean":280.1711321411,"std":80.8417031611},{"uri":"7","mean":305.2212656431,"std":79.9932790335},{"uri":"8","mean":327.5799183215,"std":77.0719874368},{"uri":"9","mean":335.4920055996,"std":76.5430348036},{"uri":"10","mean":336.9780107006,"std":75.3691828498},{"uri":"11","mean":336.6687502439,"std":75.3648738553},{"uri":"12","mean":336.363007907,"std":75.9489032032},{"uri":"13","mean":335.4388113276,"std":76.4363710904},{"uri":"14","mean":334.3352566421,"std":77.4721915924},{"uri":"15","mean":333.8832328198,"std":78.2749973265},{"uri":"16","mean":335.2557598222,"std":77.7401708259},{"uri":"17","mean":340.6031259561,"std":74.9650924739},{"uri":"18","mean":342.5558710055,"std":71.8332235488},{"uri":"19","mean":343.7464325662,"std":70.4289903405},{"uri":"20","mean":343.5322822523,"std":70.8447295689},{"uri":"21","mean":340.3289243394,"std":71.8272971527},{"uri":"22","mean":331.2784507657,"std":71.3821429135},{"uri":"23","mean":315.6818842873,"std":73.4971134254},{"uri":"24","mean":295.7413064201,"std":75.3524644991},{"uri":"25","mean":286.9773394367,"std":77.3488216116},{"uri":"26","mean":286.2381128746,"std":77.1056061256},{"uri":"27","mean":283.2943426191,"std":77.1279451286},{"uri":"28","mean":279.5801033048,"std":77.2303170668},{"uri":"29","mean":278.6086289496,"std":77.0570220565},{"uri":"30","mean":288.586700847,"std":78.7833105134},{"uri":"31","mean":311.9662873983,"std":76.3159256746},{"uri":"32","mean":333.9973176814,"std":70.9032419974},{"uri":"33","mean":340.4566682196,"std":69.4783012373},{"uri":"34","mean":341.1522983268,"std":69.3682908669},{"uri":"35","mean":341.1986195445,"std":70.6398620877},{"uri":"36","mean":340.6742779443,"std":71.6098889062},{"uri":"37","mean":340.5476312904,"std":71.4675116227},{"uri":"38","mean":339.8263347915,"std":71.9329912492},{"uri":"39","mean":339.0328817856,"std":72.2479135789},{"uri":"40","mean":340.3046584099,"std":71.9880615543},{"uri":"41","mean":344.6552164525,"std":69.3082354185},{"uri":"42","mean":346.0684254694,"std":67.363822619},{"uri":"43","mean":346.9419276244,"std":66.2662080511},{"uri":"44","mean":346.7433317432,"std":66.4749933734},{"uri":"45","mean":342.7634231183,"std":67.6024218545},{"uri":"46","mean":333.2066464787,"std":68.4214917124},{"uri":"47","mean":317.7651584817,"std":72.1966268661},{"uri":"48","mean":297.6347143048,"std":75.7977443552},{"uri":"49","mean":289.4899764411,"std":77.8059267898},{"uri":"50","mean":288.8383710602,"std":78.0265689373},{"uri":"51","mean":285.3198773737,"std":76.8592304798},{"uri":"52","mean":282.6506576421,"std":76.8429917306},{"uri":"53","mean":283.136179788,"std":77.804981521},{"uri":"54","mean":292.3588826326,"std":78.8013138944},{"uri":"55","mean":314.7983437511,"std":77.2811200765},{"uri":"56","mean":336.47357195,"std":71.0556925141},{"uri":"57","mean":343.1138747077,"std":69.2312164238},{"uri":"58","mean":342.7441633042,"std":69.1796355273},{"uri":"59","mean":342.001009212,"std":69.6885706086},{"uri":"60","mean":341.4656615451,"std":70.6585717801},{"uri":"61","mean":341.0456129098,"std":71.3540799943},{"uri":"62","mean":340.1619798823,"std":72.2327467259},{"uri":"63","mean":340.0812614175,"std":72.0570230718},{"uri":"64","mean":341.2305861756,"std":73.3672818132},{"uri":"65","mean":346.9543597733,"std":70.2166650701},{"uri":"66","mean":348.8560631203,"std":67.449214531},{"uri":"67","mean":349.5734866094,"std":65.6651942147},{"uri":"68","mean":349.0379590786,"std":65.5278722263},{"uri":"69","mean":344.9957723452,"std":66.4689211159},{"uri":"70","mean":336.8618718462,"std":67.1206753655},{"uri":"71","mean":321.4597311292,"std":70.0958011473},{"uri":"72","mean":302.7682564129,"std":74.5682106677},{"uri":"73","mean":294.1658664586,"std":76.2989450106},{"uri":"74","mean":292.1381267297,"std":76.9333333942},{"uri":"75","mean":288.0237834228,"std":77.4575419425},{"uri":"76","mean":283.9731824275,"std":76.7470702344},{"uri":"77","mean":282.6137487627,"std":76.5150075928},{"uri":"78","mean":292.0475120579,"std":78.0823110142},{"uri":"79","mean":313.5711182794,"std":77.3910839836},{"uri":"80","mean":334.4171021853,"std":71.4502922495},{"uri":"81","mean":340.9510613211,"std":69.5217849992},{"uri":"82","mean":341.6107107921,"std":69.4479348721},{"uri":"83","mean":341.2584735232,"std":71.0513649668},{"uri":"84","mean":341.1189169002,"std":71.9367492613},{"uri":"85","mean":340.9080886219,"std":73.00571934},{"uri":"86","mean":340.1701707871,"std":74.6744027117},{"uri":"87","mean":339.7980405416,"std":75.3737217308},{"uri":"88","mean":342.0124569062,"std":74.7213447968},{"uri":"89","mean":346.7765951141,"std":71.8655477363},{"uri":"90","mean":347.9881802612,"std":68.2860511201},{"uri":"91","mean":348.1469091485,"std":67.199388461},{"uri":"92","mean":347.8491290213,"std":68.2204219236},{"uri":"93","mean":344.0118800668,"std":68.5642657384},{"uri":"94","mean":335.3187662257,"std":68.2774038089},{"uri":"95","mean":320.521074188,"std":71.5064508456},{"uri":"96","mean":302.9561971138,"std":76.0044560455},{"uri":"97","mean":295.7877422129,"std":78.2404170736},{"uri":"98","mean":296.3395931111,"std":78.0648434087},{"uri":"99","mean":293.1293946027,"std":77.8837545253},{"uri":"100","mean":289.2545651356,"std":77.2626711522},{"uri":"101","mean":289.046723448,"std":76.0306046091},{"uri":"102","mean":297.4036928923,"std":77.1494232197},{"uri":"103","mean":317.8919894768,"std":75.847749932},{"uri":"104","mean":335.5252128354,"std":71.4616902405},{"uri":"105","mean":340.7867544728,"std":70.8862226498},{"uri":"106","mean":339.9519632026,"std":70.1458645536},{"uri":"107","mean":339.1430877831,"std":70.3124819376},{"uri":"108","mean":338.2817140438,"std":72.0388379913},{"uri":"109","mean":336.9576728881,"std":72.964936326},{"uri":"110","mean":335.3859382267,"std":74.2581152427},{"uri":"111","mean":333.6458906004,"std":75.3051946918},{"uri":"112","mean":334.3339589928,"std":75.2651125456},{"uri":"113","mean":338.1504975326,"std":73.7282178396},{"uri":"114","mean":339.2437916329,"std":71.4073535236},{"uri":"115","mean":338.5222045842,"std":69.9818148456},{"uri":"116","mean":337.2673668028,"std":69.3986159153},{"uri":"117","mean":331.5574839392,"std":69.3713383479},{"uri":"118","mean":322.5193167644,"std":68.5967371176},{"uri":"119","mean":308.6662772305,"std":69.384481194},{"uri":"120","mean":288.9845226527,"std":72.2214342831},{"uri":"121","mean":278.4417595616,"std":73.7187216316},{"uri":"122","mean":277.0080662654,"std":74.5444182237},{"uri":"123","mean":273.2077879258,"std":75.0620133322},{"uri":"124","mean":268.5413553168,"std":73.8307053311},{"uri":"125","mean":265.1911156067,"std":72.5988388139},{"uri":"126","mean":267.5342217179,"std":72.555710088},{"uri":"127","mean":275.743306954,"std":73.4382607442},{"uri":"128","mean":287.3654966477,"std":75.9797748489},{"uri":"129","mean":298.1639090674,"std":75.1100537609},{"uri":"130","mean":303.8326611695,"std":76.5327848547},{"uri":"131","mean":305.0052507171,"std":76.7803313869},{"uri":"132","mean":304.9357041471,"std":77.483690584},{"uri":"133","mean":303.3213055986,"std":78.8208117612},{"uri":"134","mean":300.4389734141,"std":80.7728771135},{"uri":"135","mean":297.5176216618,"std":81.8662454466},{"uri":"136","mean":298.8013229365,"std":82.0857844864},{"uri":"137","mean":307.1375436465,"std":81.3394089764},{"uri":"138","mean":313.7792747199,"std":78.0080415854},{"uri":"139","mean":316.213323948,"std":76.8028233842},{"uri":"140","mean":316.025187512,"std":76.4588764198},{"uri":"141","mean":311.8798597724,"std":76.6226864096},{"uri":"142","mean":306.5632085766,"std":76.2579899846},{"uri":"143","mean":297.2104417023,"std":76.5528299806},{"uri":"144","mean":284.9284714254,"std":77.9898793027},{"uri":"145","mean":274.3089412319,"std":78.5880439601},{"uri":"146","mean":272.424234597,"std":78.921903585},{"uri":"147","mean":269.0781327898,"std":78.8592275531},{"uri":"148","mean":264.0513256811,"std":79.0758237572},{"uri":"149","mean":260.4331785678,"std":78.2257922695},{"uri":"150","mean":259.6374153995,"std":77.5372498117},{"uri":"151","mean":266.6770556958,"std":76.5890581635},{"uri":"152","mean":272.0708003839,"std":77.0011417465},{"uri":"153","mean":281.4101052706,"std":80.4821653477},{"uri":"154","mean":289.8421875273,"std":80.7868305818},{"uri":"155","mean":294.9647369917,"std":81.8504843076},{"uri":"156","mean":296.0131474871,"std":82.5525605503},{"uri":"157","mean":296.5495037688,"std":82.8258954654},{"uri":"158","mean":295.1591282381,"std":83.9463156853},{"uri":"159","mean":294.2580838776,"std":84.4579424685},{"uri":"160","mean":297.2787576982,"std":84.7917835703},{"uri":"161","mean":306.6704970768,"std":83.3876598515},{"uri":"162","mean":312.4641348942,"std":80.1034237124},{"uri":"163","mean":315.3053861461,"std":77.8056039062},{"uri":"164","mean":316.567687098,"std":77.7863678959},{"uri":"165","mean":313.4807116258,"std":78.0018842973},{"uri":"166","mean":307.5787959971,"std":77.9641444075},{"uri":"167","mean":296.2710963299,"std":77.3829522949},{"uri":"168","mean":281.3245089137,"std":79.5603411557}]' series-config='{"firstSerie":{"type":"line","name":"Mean Carbon Intensity 2015-2017 GridCarbon Data","x":"uri","y":"mean","axis":{"id":"axis1","number":1,"side":"left"}}}' chart-extents='{"x":["dynamic","dynamic"],"y":["dynamic","dynamic"]}' event-data='[{"id":"269.53","label":"CO2/kWh Minima Monday 0400","x":"4"},{"id":"278.61","label":"CO2/kWh Minima Tuesday 0500","x":"29"},{"id":"283.14","label":"CO2/kWh Minima Wednesday 0500","x":"53"},{"id":"282.61","label":"CO2/kWh Minima Thursday 0500","x":"77"},{"id":"289.05","label":"CO2/kWh Minima Friday 0500","x":"101"},{"id":"265.19","label":"CO2/kWh Minima Saturday 0500","x":"125"},{"id":"264.03","label":"CO2/kWh Absolute Minima Sunday 0500","x":"149"}]' event-config='{"Fa Icon":{"color":"blue","icon":"fa-camera","type":"fa","offset":[0,0]},"Unicode":{"color":"green","icon":"","type":"unicode","offset":[1,0]},"Event Png":{"icon":"ge_logo.png","type":"image","offset":[0,-20],"size":"20"}}' match-ticks="true" x-axis-config='{"title":"Hour of the Week (GMT)","labelPosition":"center","orientation":"bottom"}' y-axis-config='{"title":"Carbon Intensity (gCO2/kWh)","labelPosition":"center","orientation":"left"}' time-data="Date" dynamic-menu-config='[{"name":"Delete","action":"function(data) {var conf = this.seriesConfig;delete conf[data.additionalDetail.name];this.set(\"seriesConfig\", {}); this.set(\"seriesConfig\", conf);","eventName":"delete","icon":"fa-trash"},{"name":"Bring To Front","action":"function(data) {this.set(\"serieToRedrawOnTop\", data.additionalDetail.name);}","eventName":"bring-to-front","icon":"fa-arrow-up"}]' toolbar-config='{"config":{"advancedZoom":true,"pan":true,"tooltip":true,"logHover":{"buttonGroup":2,"tooltipLabel":"The submenu item of this menu will define custom mouse interaction","icon":"fa-leaf","subConfig":{"customClick":{"icon":"fa-coffee","buttonGroup":3,"tooltipLabel":"define some custom mouse interactions on chart","eventName":"my-custom-click","actionConfig":{"mousedown":"function(mousePos) { console.log(\"custom click on chart. Context is the chart. Mouse pos is available: \" + JSON.stringify(mousePos))}","mouseup":"function(mousePos) { console.log(\"custom action on mouse up the chart \" + JSON.stringify(mousePos));}","mouseout":"function(mousePos) { console.log(\"custom action on mouse out the chart \" + JSON.stringify(mousePos));}","mousemove":"function(mousePos) { console.log(\"custom action on hovering the chart \");}"}},"customClick2":{"buttonGroup":3,"icon":"fa-fire-extinguisher","tooltipLabel":"Remove all custom interactions","actionConfig":{"mousedown":null,"mouseup":null,"mouseout":null,"mousemove":null}}}}}}' nav-height="100" nav-margin='{"top":5,"right":10,"bottom":20,"left":10}' nav-series-config='{"T48A":{"type":"line","name":"Trend","x":"Date","y":"T48A"}}'></px-vis-xy-chart>
                </div>
            </div>
        </px-card>
    </template>

    <script>
        Polymer({
            is: "old-scheduler-view",
            properties: {
                rawTsData: {
                    type: Object
                },
                rawTsTagData: {
                    type: Object,
                    value: function () {
                        return {};
                    },
                    observer: "onRawTsTagDataChanged"
                },
                tsTagList: {
                    type: Array,
                    value: function () {
                        return [];
                    }
                },
                selectedTagKey: {
                    type: String,
                    observer: "observerSelectTag"
                },
                selectedTag: {
                    type: String
                },
                chartConfig: {
                    type: Object
                },
                chartData: {
                    type: Array
                }
            },
            observers: [
                "onRawTsDataChanged(rawTsData)"
            ],
            ready: function () {
                console.log("Dashboard ready");
            },

            onRawTsTagDataChanged: function () {

                if (this.rawTsTagData.results) {
                    let choices = [];

                    this.rawTsTagData.results.forEach(function (element, index) {
                        choices.push({
                            key: index.toString(),
                            val: element
                        });
                    });
                    this.tsTagList = choices;
                }
            },
            observerSelectTag: function () {

                if (this.selectedTagKey) {
                    this.selectedTag = [
                        {
                            name: this.rawTsTagData.results[Number(this.selectedTagKey)],
                            limit: 100,
                            order: "desc"
                        }
                    ];
                    this.$.tsDataClient.generateRequest();
                }
            },
            onRawTsDataChanged: function () {
                let config = {};
                let data = this.$.tsDataClient.getDataPointsAsChartData();

                if (data && data.length > 0) {
                    config[this.selectedTag[0].name] = {
                        type: "line", name: this.selectedTag[0].name,
                        x: "x", y: "y_" + this.selectedTag[0].name, yAxisUnit: "unit"
                    };
                    this.chartConfig = config;
                    this.chartData = data;
                }
            }
        });
    </script>
</dom-module>
