<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../df-timeseries-ajax-client/df-timeseries-ajax-client.html">
<link rel="import" href="../../bower_components/px-simple-area-chart/px-simple-area-chart.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="supply-view-styles.html">

<link rel="import" href="../../bower_components/px-vis/px-vis-worker.js">;
<link rel="import" href="../../bower_components/pxd3/d3.min.js">;

<dom-module id="old-supply-view">
  <template>

    <df-timeseries-ajax-client id="tsTagClient" method="GET"
                               service-endpoint="/api/predix-timeseries/v1/tags"
                               raw-ts-data="{{rawTsTagData}}" auto></df-timeseries-ajax-client>
    <df-timeseries-ajax-client id="tsDataClient" start='{{tsQueryStart}}' end='{{tsQueryEnd}}'
                               service-endpoint="/api/predix-timeseries/v1/datapoints"
                               tags="[[selectedTag]]"
                               raw-ts-data="{{rawTsData}}"></df-timeseries-ajax-client>

    <!-- <div class="flex flex-row flex-justify">
      <div><h1 class="delta u-pl++">Energy Supply Source Analysis</h1></div>
    </div> -->

    <px-card id="oldSupplyTsCard">
        <style is="custom-style">
          div.markdown-html > h2 {
              margin-top: 0;
              }
        </style>
          <div>
              <div>
                <px-simple-area-chart
                    prevent-resize="true"
                    width="700"
                    height="450"
                    x-axis-type="time"
                    chart-data='[[chartData]]'
                    series-config='[[chartConfig]]'
                    chart-extents='{{chartExtents}}'>
                </px-simple-area-chart>
              </div>
          </div>
      </px-card>

  </template>
  <script>
    Polymer({
      is: 'old-supply-view',
      properties: {
        rawTsData: {
            type: Object
        },
        rawTsTagData: {
            type: Object,
            value: function () {
                return {};
            },
            observer: "onRawTsTagDataChanged"
        },
        tsTagList: {
            type: Array,
            value: function () {
                return [];
            }
        },
        selectedTagKey: {
            type: String,
            observer: "observerSelectTag"
        },
        selectedTag: {
            type: String
        },
        chartConfig: {
            type: Array
        },
        chartData: {
            type: Array
        },
        allDataSources: {
            value: []
        },
        allDataSourcesTags: {
            value: ["CCGT",
                    "COAL",
                    "INTEW",
                    "INTFR",
                    "INTIRL",
                    "INTNED",
                    "NPSHYD",
                    "NUCLEAR",
                    "OCGT",
                    "OIL",
                    "OTHER",
                    "PS",
                    "WIND"]
        },
        processedTags: {
            value: []
        },
        tsQueryStart: {
          type: String,
          value: "1481328000000",
        },
        tsQueryEnd: {
          type: String,
          value: "1483228800000",
        },
      },
      observers: [
          "onRawTsDataChanged(rawTsData)",
      ],

      onRawTsTagDataChanged: function () {
          if (this.rawTsTagData.results) {
              let choices = [];
              this.rawTsTagData.results.forEach(function (element, index) {
                  choices.push({
                      key: index.toString(),
                      val: element
                  });
              });
              this.tsTagList = choices;
          }
      },
      onRawTsDataChanged: function () {
          let config = {};
          let data = this.$.tsDataClient.getDataPointsAsChartData();
          if (data && data.length > 0) {

              this.allDataSourcesTags.forEach(function (element) {
                  config[element] = {
                      type: "line", name: element,
                      x: "x", y: "y_" + element, yAxisUnit: "MW"
                  };
              });

              if (this.chartConfig === undefined) {
                  this.chartConfig = [];
              }
              this.chartConfig=config;
              this.allDataSources=data;
              this.chartData = this.allDataSources;
          }
      },

      ready: function () {
        let arr = [];
        this.allDataSourcesTags.forEach(function (element) {
            arr.push(
                {
                    name: element,
                    //limit: 1000,
                    order: "desc"
                });
        });
        this.selectedTag = arr;
        this.$.tsDataClient.generateRequest();
        console.log("Dashboard ready");
      }
    });
  </script>
</dom-module>
