<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../df-timeseries-ajax-client/df-timeseries-ajax-client.html">
<link rel="import" href="../../bower_components/px-rangepicker/px-rangepicker.html">
<link rel="import" href="../../bower_components/px-datetime-picker/px-datetime-picker.html">;
<link rel="import" href="../../bower_components/px-vis-timeseries/px-vis-timeseries.html">
<link rel="import" href="../../bower_components/px-spinner/px-spinner.html">
<link rel="import" href="../../bower_components/px-vis-xy-chart/px-vis-xy-chart.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html"/>
<link rel="import" href="../../bower_components/px-toggle/px-toggle.html">;
<link rel="import" href="../../bower_components/px-card/px-card.html">
<link rel="import" href="../../bower_components/px-icon-set/px-icon-set.html">
<link rel="import" href="../../bower_components/px-icon-set/px-icon.html">
<link rel="import" href="../../bower_components/px-theme/px-theme-styles.html">
<link rel="import" href="../asset-browser/asset-browser.html">
<link rel="import" href="../seed-table/seed-table.html">
<link rel="import" href="../kpi-bar/kpi-bar.html">
<link rel="import" type="css" href="scheduler-view-styles.html">

<!--
import is done in ge-app since it is needed by both views
<link rel="import" href="../../bower_components/px-card/px-card.html">
-->

<dom-module id="scheduler-view">
    <template>

      <!--I'm not sure how the style html import works, so I'm doing it here-->
      <style>
        px-card {
           background: white;
           color: rgb(44, 64, 76);
           --px-card-header-color: black;
        }
        px-chip {
           --px-chip-max-width: 400px;
        }
        .ToggleContainer {
            margin-left: 15px;
        }
        .DoubleSizeText {
            font-size: 150%;
        }
        #wrapper {
            overflow: hidden;
            margin-bottom: 20px;
        }
        #first {
            float:left;
            margin-right: 25px;
        }
        #second {
            float: left;
        }
      </style>

    <iron-ajax id="ApplianceAssetAjax"
      url="/api/predix-asset/appliances"
      last-response="{{ApplianceAssetOutput}}"
      content-type="application/json" auto
      on-iron-ajax-response="applianceAssetResponseRecieved">
    </iron-ajax>

    <iron-ajax id="ForecastAssetAjax"
      url="/api/predix-asset/supply"
      last-response="{{ForecastAssetOutput}}"
      content-type="application/json" auto
      on-iron-ajax-response="forecastAssetResponseRecieved">
    </iron-ajax>

    <iron-ajax id="PlanningAnalyticExecutionAjax"
      url="{{PlanningAnalyticURL}}"
      last-response="{{PlanningAnalyticOutput}}"
      body="{{PlanningAnalyticInput}}"
      method="POST" content-type="application/json"
      on-iron-ajax-response="executionResponseRecieved">
    </iron-ajax>

        <px-card id="schedulerTsCard">

          <h1>Analytic Appliance Scheduler</h1>
          <p>Choose your desired appliance and the range of time when you want it to begin.</p>
          <p>Using the average weekly supply forecast and the demand profile of your choosen appliance, the app will predict the best time to start your appliance.
          <small>(Remember to click 'Apply' when using the calendar selector)</small></p>

          <!-- <p>
            Toggle if you want your range to begin now, and only choose your end time:
            <px-toggle size="large" checked='{{toggled}}' class="ToggleContainer"></px-toggle>
          </p> -->

          <div id="wrapper">
            <div id="first">
             <px-dropdown
                items='{{dropdownItems}}'
                sort-mode="key" button-style="default" display-value="Choose Appliance" icon="px-utl:tablet" disable-clear search-mode selected="{{selectedDropdown}}"
                on-px-dropdown-selection-changed="selectedDropdownChangedHandler">
              </px-dropdown>
            </div>
            <div id="second">
              <px-rangepicker
                id="analyticRangePicker"
                show-buttons="true"
                date-format="DD/MM/YYYY"
                time-format="HH:mm"
                time-zone="UTC"
                show-time-zone="none"
                range='{{rangeObject}}'
                on-range-changed="rangeChangedHandler"
                hidden='{{toggled}}'>
              </px-rangepicker>
              <!-- <px-datetime-picker
                id="analyticDateTimePicker"
                show-buttons
                block-past-dates
                date-format="DD/MM/YYYY"
                time-format="HH:mm"
                time-zone="UTC"
                show-time-zone="none"
                date-time='{{rangeEnd}}'
                hidden='{{!toggled}}'
                on-date-time-changed="rangeChangedHandler">
              </px-datetime-picker> -->
            </div>
          </div>

          <hr>

          <p>
            The best time to start your <b><em>{{applianceDisplay}}</b></em>, between <b><em>{{rangeStartDisplay}}</em></b> and <b><em>{{rangeEndDisplay}}</em></b>, is:
            <br />
            <span class="DoubleSizeText" hidden={{!analyticResultsLoaded}}>
              {{bestStartDisplay}}
            </span>
          </p>

          <px-spinner
            size="220"
            finished={{!loading}}>
          </px-spinner>

          <px-vis-timeseries
            hidden={{!analyticResultsLoaded}}
            debounce-resize-timing="250"
            width="700"
            height="400"
            chart-horizontal-alignment="center"
            chart-vertical-alignment="center"
            margin='{"top":25,"bottom":60,"left":65,"right":65}'
            tooltip-config='{}'
            register-config='{"type":"horizontal","truncationLength": 35}'
            selection-type="xy"
            chart-data="{{chartData}}"
            series-config='{"firstSerie":{"type":"line","name":"Energy Supply Mix Forecast","x":"time_stamp","y":"emf","axis":{"id":"axis1","number":1,"side":"left"}},"secondSerie":{"type":"line","name":"Total Predicted Appliance Emissions","x":"time_stamp","y":"pae","axis":{"id":"axis1","number":1,"side":"left"}}}'
            x-axis-config='{"title":"Date","titleTruncation":false}'
            x-axis-type="time"
            event-data="{{eventData}}"
            event-config='{"Best Start":{"color":"blue","icon":"px-fea:dashboard","type":"px","offset":[0,0]}}'
            dynamic-menu-config='[{"name":"Delete","action":"function(data) {var conf = {}, keys=Object.keys(this.seriesConfig); for(var i=0; i<keys.length;i++) { if(keys[i] !== data.additionalDetail.name) {conf[keys[i]] = this.seriesConfig[keys[i]];}} this.set(\"seriesConfig\", conf);}","eventName":"delete","icon":"px-vis:trash-series"},{"name":"Bring To Front","action":"function(data) {this.set(\"serieToRedrawOnTop\", data.additionalDetail.name);}","eventName":"bring-to-front","icon":"px-vis:bring-to-front"}]'
            toolbar-config='{"config":{"advancedZoom":true,"pan":true,"tooltip":true,"logHover":{"buttonGroup":2,"tooltipLabel":"The submenu item of this menu will define custom mouse interaction","icon":"px-nav:notification","subConfig":{"customClick":{"icon":"px-nav:expand","buttonGroup":3,"tooltipLabel":"define some custom mouse interactions on chart","eventName":"my-custom-click","actionConfig":{"mousedown":"function(mousePos) { console.log(\"custom click on chart. Context is the chart. Mouse pos is available: \" + JSON.stringify(mousePos))}","mouseup":"function(mousePos) { console.log(\"custom action on mouse up the chart \" + JSON.stringify(mousePos));}","mouseout":"function(mousePos) { console.log(\"custom action on mouse out the chart \" + JSON.stringify(mousePos));}","mousemove":"function(mousePos) { console.log(\"custom action on hovering the chart \");}"}},"customClick2":{"buttonGroup":3,"icon":"px-nav:collapse","tooltipLabel":"Remove all custom interactions","actionConfig":{"mousedown":null,"mouseup":null,"mouseout":null,"mousemove":null}}}}}}'
            navigator-config='{"xAxisConfig":{"tickFormat":"%b %d"}}'>
          </px-vis-timeseries>

        </px-card>
    </template>

    <script>
        Polymer({
            is: "scheduler-view",
            properties: {
                PlanningAnalyticURL: {
                    type: String,
                    value: '/api/predix-analytics-framework-catalog/api/v1/catalog/analytics/ae64eb02-b288-4219-927a-2bb23d88588e/execution'
                },
                PlanningAnalyticInput: {
                    type: Object,
                    value: {
                      start:"2017-06-26T05:00:00.000Z",
                      end: "2017-06-28T05:00:00.000Z",
                      appliance: "Iron",
                      demand_profile: "[1.8178472222222224]",
                      supply_forecast: "[273.7492650511,275.3253544917,272.6191991579,269.5291583385,270.7037822074,280.1711321411,305.2212656431,327.5799183215,335.4920055996,336.9780107006,336.6687502439,336.363007907,335.4388113276,334.3352566421,333.8832328198,335.2557598222,340.6031259561,342.5558710055,343.7464325662,343.5322822523,340.3289243394,331.2784507657,315.6818842873,295.7413064201,286.9773394367,286.2381128746,283.2943426191,279.5801033048,278.6086289496,288.586700847,311.9662873983,333.99731768,340.4566682196,341.1522983268,341.1986195445,340.6742779443,340.5476312904,339.8263347915,339.0328817856,340.3046584099,344.6552164525,346.0684254694,346.9419276244,346.7433317432,342.7634231183,333.2066464787,317.7651584817,297.6347143048,289.4899764411,288.8383710602,285.3198773737,282.6506576421,283.136179788,292.3588826326,314.7983437511,336.47357195,343.1138747077,342.7441633042,342.001009212,341.4656615451,341.0456129098,340.1619798823,340.0812614175,341.2305861756,346.9543597733,348.8560631203,349.5734866094,349.0379590786,344.9957723452,336.8618718462,321.4597311292,302.7682564129,294.1658664586,292.1381267297,288.0237834228,283.9731824275,282.6137487627,292.0475120579,313.5711182794,334.4171021853,340.9510613211,341.6107107921,341.2584735232,341.1189169002,340.9080886219,340.1701707871,339.7980405416,342.0124569062,346.7765951141,347.9881802612,348.1469091485,347.8491290213,344.0118800668,335.3187662257,320.521074188,302.9561971138,295.7877422129,296.3395931111,293.1293946027,289.2545651356,289.046723448,297.4036928923,317.8919894768,335.5252128354,340.7867544728,339.9519632026,339.1430877831,338.2817140438,336.9576728881,335.3859382267,333.6458906004,334.3339589928,338.1504975326,339.2437916329,338.5222045842,337.2673668028,331.5574839392,322.5193167644,308.6662772305,288.9845226527,278.4417595616,277.0080662654,273.2077879258,268.5413553168,265.1911156067,267.5342217179,275.743306954,287.3654966477,298.1639090674,303.8326611695,305.0052507171,304.9357041471,303.3213055986,300.4389734141,297.5176216618,298.8013229365,307.1375436465,313.7792747199,316.213323948,316.025187512,311.8798597724,306.5632085766,297.2104417023,284.9284714254,274.3089412319,272.424234597,269.0781327898,264.0513256811,260.4331785678,259.6374153995,266.6770556958,272.0708003839,281.4101052706,289.8421875273,294.9647369917,296.0131474871,296.5495037688,295.1591282381,294.2580838776,297.2787576982,306.6704970768,312.4641348942,315.3053861461,316.567687098,313.4807116258,307.5787959971,296.2710963299,281.3245089137]"
                    }
                },
                PlanningAnalyticOutput: {
                    type: Object
                },
                ApplianceAssetOutput: {
                    type: Object
                },
                ForecastAssetOutput: {
                    type: Object
                },
                dropdownItems: {
                    type: Array,
                },
                selectedDropdown: {
                    type: Object
                },
                chartData: {
                    type: Array
                },
                eventData: {
                    type: Array
                },
                analyticResult:{
                    type: String
                },
                bestStartDisplay: {
                    type: String,
                    value: "Not yet executed"
                },
                toggled: {
                    type: Boolean
                },
                rangeStart: {
                    type: String
                },
                rangeEnd: {
                    type: String
                },
                applianceDisplay: {
                    type: String,
                    value: "Appliance"
                },
                rangeStartDisplay: {
                    type: String,
                    value: "Start Time"
                },
                rangeEndDisplay: {
                    type: String,
                    value: "End Time"
                },
                rangeObject: {
                    type: Object
                },
                pageReady: {
                    type: Boolean,
                    value: false
                },
                analyticResultsLoaded: {
                    type: Boolean
                },
                loading: {
                    type: Boolean,
                    value: false
                }
            },
            ready: function () {
              //Initialise ranges
                var now = new Date();
                var week = new Date();
                week.setDate(now.getDate() + 7);
                this.rangeStart = now.toISOString();
                this.rangeEnd = week.toISOString();
                var obj = {};
                obj = {
                  "from": this.rangeStart,
                  "to": this.rangeEnd
                };
                this.PlanningAnalyticInput.start = this.rangeStart;
                this.PlanningAnalyticInput.end = this.rangeEnd;
                this.rangeObject = obj;
                console.log("Dashboard ready");
                this.pageReady = true;
            },

            selectedDropdownChangedHandler: function() {
              if (!this.pageReady) {return}
              console.log("TRIGGERED DROPDOWN!");
              var appliance = this.selectedDropdown;
              var demand = "";
              this.ApplianceAssetOutput.forEach(function(entry) {
                  switch(appliance){
                    case (entry.name):
                      demand = entry.demand_profile;
                      break;
                  }
              });
              this.PlanningAnalyticInput.demand_profile = demand;
              this.applianceDisplay = appliance;
              this.PlanningAnalyticInput.appliance = appliance;
              this.rangeStartDisplay = this.isoToHumanTime(this.rangeStart);
              this.rangeEndDisplay = this.isoToHumanTime(this.rangeEnd);
              this.executeAnalytic();
            },

            rangeChangedHandler: function() {
              if (!this.pageReady) {return}
              console.log("TRIGGERED RANGE!");
              if(!this.toggled){
                //Not Toggled so using rangepicker to control both dates
                this.rangeStart = this.$.analyticRangePicker.range.from;
                this.rangeEnd = this.$.analyticRangePicker.range.to;
              } else if (this.toggled) {
                //Toggled so using now for start and datepicker is controling end
                var now = new Date();
                this.rangeStart = now.toISOString();
                this.rangeEnd = this.$.analyticDateTimePicker.dateTime;
              }
              //Set in analytic input and executes
              this.PlanningAnalyticInput.start = this.rangeStart;
              this.PlanningAnalyticInput.end = this.rangeEnd;
              this.rangeStartDisplay = this.isoToHumanTime(this.rangeStart);
              this.rangeEndDisplay = this.isoToHumanTime(this.rangeEnd);
              this.executeAnalytic();
            },

            executeAnalytic: function() {
              console.log("SENDING ANALYTIC!");
              this.analyticResultsLoaded = false;
              this.loading = true;
              this.$.PlanningAnalyticExecutionAjax.generateRequest();
            },

            executionResponseRecieved: function() {
              resultsObj = JSON.parse(this.PlanningAnalyticOutput.result);
              resultsArr = [];
              eventsArr = [];
              //Grab and format timeseries data for display
              emfResultsArr = resultsObj.timeseries['energy mix forecast'];
              paeResultsArr = resultsObj.timeseries['predicted appliance emmissions'];
              tsResultsArr = resultsObj.timeseries.time_stamp;
              sizeOfResults = Object.keys(tsResultsArr).length;
              //Result give epoch seconds, but Predix works in epoch milliseconds
              resultsObj.best_start = resultsObj.best_start*1000;
              for (i = 0; i < sizeOfResults; i++) {
                tsResultsArr[i] = tsResultsArr[i]*1000;
              };
              //Process results into format for chartData Array
              for (i = 0; i < sizeOfResults; i++) {
                singleObj = {
                  "time_stamp": tsResultsArr[i],
                  "emf": emfResultsArr[i],
                  "pae": paeResultsArr[i]
                };
                resultsArr.push(singleObj);
              }
              //Grab and push best start time as graph event
              bestStartObj = {
                "label":"Best Start",
                "id" : "1",
                "time": resultsObj.best_start,
                "x": resultsObj.best_start
              }
              eventsArr.push(bestStartObj);
              //Final assign
              this.chartData = resultsArr;
              this.eventData = eventsArr;
              this.bestStartDisplay = this.isoToHumanTime(resultsObj.best_start);
              this.analyticResultsLoaded = true;
              this.loading = false;
            },

            applianceAssetResponseRecieved: function() {
              var result = [];
              this.ApplianceAssetOutput.forEach(function(entry) {
                  obj = {
                    "key": entry.name,
                    "val": entry.name
                  }
                  result.push(obj)
              });
              this.dropdownItems = result;
            },

            forecastAssetResponseRecieved: function() {
              var supply_forecast = "";
              this.ForecastAssetOutput.forEach(function(entry) {
                  supply_forecast = entry.supply_forecast;
              });
              this.PlanningAnalyticInput.supply_forecast = supply_forecast;
            },

            isoToHumanTime: function(x) {
              var date = new Date(x);
              var hours = date.getHours();
              var minutes = date.getMinutes();
              if (hours > 12) {
                hours = hours - 12;
                ampm = "PM";
              } else {
                ampm = "AM"
              }
              if (hours < 10) {
                hours = "0" + hours;
              }
              if (minutes < 10) {
                minutes = "0" + minutes;
              }
              var humanTime = hours + ":" + minutes + ampm + " on " + date.toDateString();
              return humanTime;
            }

        });
    </script>
</dom-module>
