<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../df-timeseries-ajax-client/df-timeseries-ajax-client.html">
<link rel="import" href="../../bower_components/px-rangepicker/px-rangepicker.html">
<link rel="import" href="../../bower_components/px-simple-area-chart/px-simple-area-chart.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../asset-browser/asset-browser.html">
<link rel="import" href="../seed-table/seed-table.html">
<link rel="import" href="../kpi-bar/kpi-bar.html">
<link rel="import" href="supply-view-styles.html">

<dom-module id="supply-view">

  <!--I'm not sure how the style html import works, so I'm doing it here-->
  <style>
    px-card {
     background: white;
     color: rgb(44, 64, 76);
     --px-card-header-color: black;
    }
    px-chip {
     --px-chip-max-width: 400px
    }
    .Wrapper {
       overflow: hidden;
       /*width: 800px; /* just for demo */
       margin-left:auto;
       margin-right:auto;
    }
    .Text {
       float: left;
       width:500px;
       font-weight: bold;
    }
    .Pictures {
       float: right;
       width:200px;
    }
    .SlightElementBuffer {
       margin-top:15px;
       margin-bottom:15px;
    }
    dl {
       width: 100%;
       overflow: hidden;
       padding: 0;
       margin: 0
    }
    dt {
       float: left;
       width: 10%;
       /* adjust the width; make sure the total of both is 100% */
       padding: 0;
       margin: 0
    }
    dd {
     float: left;
     width: 90%;
     /* adjust the width; make sure the total of both is 100% */
     padding: 0;
     margin: 0
    }
  </style>

  <template>

    <df-timeseries-ajax-client id="tsTagClient" method="GET"
                               service-endpoint="/api/predix-timeseries/v1/tags"
                               raw-ts-data="{{rawTsTagData}}" auto></df-timeseries-ajax-client>
    <df-timeseries-ajax-client id="tsDataClient" start='{{tsQueryStart}}' end='{{tsQueryEnd}}'
                               service-endpoint="/api/predix-timeseries/v1/datapoints"
                               tags="[[selectedTag]]"
                               raw-ts-data="{{rawTsData}}"></df-timeseries-ajax-client>



    <px-card id="supplyTsCard">
      <h1>Energy Supply Source Analysis</h1>
      <p>This tool allows you to analyse the sources of the UK's energy supply source throughtout 2016.
        An explaination of the different sources is included below the graph.
        You can also use the 'Presets' inside the calendar picker to quickly select time ranges.
        <small>(Remember to click 'Apply' when using the calendar selector)</small></p>
                <px-rangepicker
                    id="tsRangePicker"
                    show-buttons
                    time-format="HH:mm"
                    time-zone="UTC"
                    min='"2015-12-31T23:59:59.999Z"'
                    max='"2017-01-01T00:00:00.000Z"'
                    range='{"from":"2016-08-15T00:00:00.000Z","to":"2016-08-15T23:59:59.999Z"}'
                    preset-ranges=  '[
                      {"displayText": "15th August 2016","startDateTime": "2016-08-15T00:00:00.000Z","endDateTime": "2016-08-15T23:59:59.999Z"},
                      {"displayText": "15th December 2016","startDateTime": "2016-12-15T00:00:00.000Z","endDateTime": "2016-12-15T23:59:59.999Z"},
                      {"displayText": "August 2016","startDateTime": "2016-08-01T00:00:00.000Z","endDateTime": "2016-08-31T23:59:59.999Z"},
                      {"displayText": "December 2016","startDateTime": "2016-12-01T00:00:00.000Z","endDateTime": "2016-12-31T23:59:59.999Z"},
                      {"displayText": "Entire Year 2016","startDateTime": "2016-01-01T00:00:00.000Z","endDateTime": "2016-12-31T23:59:59.999Z"}
                    ]'
                    on-range-changed="rangeChangedHandler">,
                </px-rangepicker>

                <px-simple-area-chart
                    prevent-resize="true"
                    width="1000"
                    height="450"
                    x-axis-type="time"
                    chart-data='[[chartData]]'
                    series-config='{{chartConfig}}'
                    chart-extents='{{chartExtents}}'
                    x-axis-config='{"title":"Date","titleTruncation":false}'
                    register-config='{{registerConfig}}'>
                </px-simple-area-chart>

                <h4>Explaination of Different Energy Sources:</h4>
                <dl>
                  <dt><b>CCGT</b></dt>
                  <dd>Combined Cycle Gas Turbine Plant</dd>
                  <dt><b>OCGT</b></dt>
                  <dd>Open Cycle Gas Turbine Plant</dd>
                  <dt><b>OIL</b></dt>
                  <dd>Oil Plant</dd>
                  <dt><b>COAL</b></dt>
                  <dd>Coal Plant</dd>
                  <dt><b>WIND</b></dt>
                  <dd>Power Park Modules metered by the Transmission Operator</dd>
                  <dt><b>NUCLEAR</b></dt>
                  <dd>Nuclear Plant</dd>
                  <dt><b>NPSHYD</b></dt>
                  <dd>Non Pumped Storage Hydro Plant</dd>
                  <dt><b>PS</b></dt>
                  <dd>Pumped Storage Plant</dd>
                  <dt><b>INTEW</b></dt>
                  <dd>External Interconnector flows with Ireland (East-West)</dd>
                  <dt><b>INTFR</b></dt>
                  <dd>External Interconnector flows with France</dd>
                  <dt><b>INTIRL</b></dt>
                  <dd>External Interconnector flows with Ireland</dd>
                  <dt><b>INTNED</b></dt>
                  <dd>External Interconnector flows with the Netherlands</dd>
                  <dt><b>OTHER</b></dt>
                  <dd>Undefined
</dd>


                </dl>

      </px-card>
  </template>

  <script>
    Polymer({
      is: 'supply-view',
      properties: {
        rawTsData: {
            type: Object
        },
        rawTsTagData: {
            type: Object,
            value: function () {
                return {};
            },
            observer: "onRawTsTagDataChanged"
        },
        tsTagList: {
            type: Array,
            value: function () {
                return [];
            }
        },
        selectedTagKey: {
            type: String,
            observer: "observerSelectTag"
        },
        selectedTag: {
            type: String
        },
        chartConfig: {
            type: Object,
            value: {}
        },
        registerConfig: {
            type: Object,
            value: {
              "type":"horizontal"
          }
        },
        chartData: {
            type: Array
        },
        allDataSources: {
            value: []
        },
        allDataSourcesTags: {
            value: ["CCGT","OCGT","OIL","COAL","NUCLEAR","WIND","NPSHYD","PS","INTEW","INTFR","INTIRL","INTNED","OTHER"]
        },
        processedTags: {
            value: []
        },
        //Default Time which will be changed by rangepicker
        tsQueryStart: {
          type: String,
          value: "1451608200000",
        },
        //Default Time which will be changed by rangepicker
        tsQueryEnd: {
          type: String,
          value: "1483228800000",
        },
      },
      observers: [
          "onRawTsDataChanged(rawTsData)",
      ],

      rangeChangedHandler: function(e) {
        this.tsQueryEnd = Date.parse(this.$.tsRangePicker.range.to);
        this.tsQueryStart = Date.parse(this.$.tsRangePicker.range.from);
        this.$.tsDataClient.generateRequest();
      },
      onRawTsTagDataChanged: function () {
          if (this.rawTsTagData.results) {
              let choices = [];
              this.rawTsTagData.results.forEach(function (element, index) {
                  choices.push({
                      key: index.toString(),
                      val: element
                  });
              });
              this.tsTagList = choices;
          }
      },
      onRawTsDataChanged: function () {
          let config = {};
          let data = this.$.tsDataClient.getDataPointsAsChartData();
          if (data && data.length > 0) {
              let humanName = "foo";
              this.allDataSourcesTags.forEach(function (element) {
                switch(element) {
                  //case 'CCGT': humanName = 'CC Gas'; break;
                  //case 'OIL': humanName = 'Oil'; break;
                  //case 'COAL': humanName = 'Coal'; break;
                  //case 'INTEW': humanName = 'IRL(EW)'; break;
                  //case 'INTFR': humanName = 'FRA'; break;
                  //case 'INTIRL': humanName = 'IRL'; break;
                  //case 'INTNED': humanName = 'NLD'; break;
                  //case 'NUCLEAR': humanName = 'Nuclear'; break;
                  //case 'NPSHYD': humanName = 'Hydro'; break;
                  //case 'OCGT': humanName = 'OC Gas'; break;
                  //case 'OTHER': humanName = 'Other'; break;
                  //case 'PS': humanName = 'Pumped Storage'; break;
                  //case 'WIND': humanName = 'Wind'; break;
                  default: humanName = element; break;
                }
                  config[element] = {
                      type: "line", name: humanName,
                      x: "x", y: "y_" + element, yAxisUnit: "MW"
                  };
              });

              if (this.chartConfig === undefined) {
                  this.chartConfig = [];
              }
              this.chartConfig=config;
              this.allDataSources=data;
              this.chartData = this.allDataSources;
          }
      },

      ready: function () {
        let arr = [];
        this.allDataSourcesTags.forEach(function (element) {
            arr.push(
                {
                    name: element,
                    order: "desc"
                });
        });
        this.selectedTag = arr;
        this.$.tsDataClient.generateRequest();
        console.log("Dashboard ready");
      }
    });
  </script>
</dom-module>
