<!-- import polymer -->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- import page level css -->
<link rel="import" href="seed-app-styles.html">

<!-- app route -->
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/px-app-helpers/px-app-route/px-app-route.html">
<!-- px components -->
<link rel="import" href="../../bower_components/px-app-nav/px-app-nav.html">
<link rel="import" href="../../bower_components/px-view/px-view.html">
<link rel="import" href="../../bower_components/px-login/px-login.html">
<link rel="import" href="../../bower_components/px-branding-bar/px-branding-bar.html">
<!-- google components -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<!-- importing icons here, to fix icon flickering problem when loading asynchronously. -->
<link rel="import" href="../../bower_components/px-icon-set/px-icon.html">
<link rel="import" href="../../bower_components/px-icon-set/px-icon-set.html">

<dom-module id="seed-app">
  <template>

    <!-- apply imported seed app style module -->
    <style include="seed-app-styles"></style>

    <px-branding-bar application-title="[[appHeader]]"></px-branding-bar>

    <div class="viewport">
      <app-location
        route="{{route}}"
        use-hash-as-path>
      </app-location>
      <px-app-route
        id="starterAppRoute"
        route="{{route}}"
        use-hash-as-path
        update-nav-route
        nav-route="{{navRoute}}">
      </px-app-route>

      <div class="flex flex--row flex--justify">
        <div class="u-3/4-desk u-1/1-palm">
          <px-app-nav
            class="navbar"
            items="{{navItems}}"
            selected-route="{{navRoute}}">
          </px-app-nav>
        </div>
        <div class="u-1/1-palm">
          <div class="flex flex--row flex--right">
            <px-login class="u-pr u-pt"></px-login>
          </div>
        </div>
      </div>

      <main role="main">
        <px-view id="view" element-href="{{getHref(navRoute)}}" active load-async></px-view>
      </main>
    </div>

    <iron-ajax id="configAjaxEl" url="/config" auto></iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'seed-app',

      properties: {

        appHeader: {
          type: String
        },

        //Global application object
        global: {
          type: Object,
          value: function() {
            return {
              version: '1.0',
              name: 'Deloitte Energy Scheduling App'
            }
          }
        },

        // Links to appear in the main navigation - px-app-nav component
        // See https://www.predix-ui.com/#/elements/px-icon-set for available icons
        navItems: {
          type: Array,
          value: function() {
            return [
              {
                "label": "Appliance Scheduler",
                "id": "scheduler",
                "icon": "px-fea:analytics"
              }
              ,{
                "label": "Supply",
                "id": "supply",
                "icon": "px-fea:analysis"
              }
              // ,{
              //   "label": "Supply (From Hackathon)",
              //   "id": "old-supply",
              //   "icon": "px-utl:delete"
              // }
              // ,{
              //   "label": "Scheduler (From Hackathon)",
              //   "id": "old-scheduler",
              //   "icon": "px-utl:delete"
              // }
              ,{
                "label": "About",
                "id": "about",
                "icon": "px-com:message"
              }
              //Uncomment this block to show the Simple Asset navigation item on the menu.
              // asset-nav-item
              // ,{
              //   "label": "Supply",
              //   "id": "supply",
              //   "icon": "px-fea:asset"
              // }
              // end asset-nav-item
            ]
          }
        },

        navRoute: {
          type: Array,
        }
      },

      ready: function(){
        if (!this.$.starterAppRoute.navRoute) {
          // set default route
          this.$.starterAppRoute.navRoute = ['scheduler'];
        }
        // console.log('ready. route: ', this.$.starterAppRoute.navRoute);
        this.$.configAjaxEl.addEventListener('response', function(evt) {
          // We're getting some global config from the server.
          // console.log('config', evt.detail.response);
          this.appHeader = evt.detail.response.appHeader;
          this.$.view.elementData = evt.detail.response;
        }.bind(this));
      },

      getHref: function(navRoute) {
        var navRoute = this.$.starterAppRoute.navRoute || ['scheduler'];
        return '/elements/views/' + navRoute[0] + '-view.html';
      }

    });
  </script>
</dom-module>
